<a href={Astro.props.href} class="cta-button">
  {Astro.props.label}
</a>

<style>
  .cta-button {
    padding-inline: var(--space-sm);
    padding-block: var(--space-xs);
    border: 1px solid #333;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
  }
</style>