---
const { title } = Astro.props;
import QuietStack from "../../components/quiet/QuietStack.astro";
import QuietTitle from "../../components/quiet/QuietTitle.astro";
import QuietGrid from "../../components/quiet/QuietGrid.astro";
---

<QuietStack space="lg">
  <QuietTitle level={2}>{title}</QuietTitle>

  <QuietGrid cols="auto">
    <div class="q-hover-float q-click q-keyfocus">
      <slot />
    </div>
  </QuietGrid>
</QuietStack>